<h2>Time Slots Available : <%= @slots.slot_time %></h2>

<p>Seat Available : <%= @screen.no_of_seats - @slots.num_of_seats_booked %></p>

<p>Total seats : <%= @screen.no_of_seats %></p>
<p>Seat Booked : <%= @slots.num_of_seats_booked %></p>



<%= link_to 'Back ||', url_for(:back) %>
<%= link_to "Bookings" , user_bookings_url(@user_id = current_user.id,@users) %>


