<h1>New Booking</h1>

<%= form_with model: @booking do |form| %>

  <div class="field">
    <%= form.label :Slot_Id %><br>
    <%= form.number_field :slot_id %>
  </div>

  <div class="field">
    <%= form.label :Booking_Date %><br>
    <%= form.text_area :booking_date %>
  </div>

  <div class="actions">
    <%= form.submit "Book ticket" %>
  </div>
<% end %>

<%= link_to 'Back', url_for(:back) %>
