<h1>New Booking</h1>

<%= form_with model: [@user,@user.bookings.new],id: "new_booking" do |form| %>

  <div class="field">
    <%= form.label :Slot_Id %><br>
    <%= form.number_field :slot_id %>
  </div>

  <div class="field">
    <%= form.label :Booking_Date %><br>
    <%= form.date_field :booking_date %>
  </div>

  <div class="field">
    <p>Enter Price is 200 for Now:  </p>
    <%= form.label :Price %><br>
    <%= form.number_field :total_cost %>
  </div>

  <div class="actions">
    <%= form.submit "Book Ticket" %>
  </div>
<% end %>


<%= link_to 'Back', user_bookings_url %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script type="text/javascript">
  <%= render "validate.js" %>
</script>
