
<h1 style = "text-align:center; font-size: 60px">Welcome to BookmyShow</h1>

<!--<%= link_to "Sign up ", new_user_registration_url %>-->

<!--<%= link_to "|| Sign in", new_user_session_url %>-->

<%= link_to "My Profile", users_url %>


<%= link_to "|| Movies", movies_url %>




<%= image_tag("movie-ticketing.jpg", size: "1506x1000", :alt => "rss feed") %>

