<h1>New User</h1>

<%= form_with model: @user ,id: "new_user",remote: true do |form| %>
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br>
    <%= form.text_field :password_confirmation%>
  </div>

  <div class="actions">
    <%= form.submit "Sign up"%>
  </div>

<% end %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script type="text/javascript">
  <%= render "val.js" %>
</script>
