<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You Booking is confirmed!</p>
    <p>
    Booking details<br>
    --------------------------
    </p>
    <p>Booking ID: <%= @booking.id %></p>

    <p>Cinema: <%= @booking.slot.screen.cinema.name %> , <%= @booking.slot.screen.cinema.location.city %></p>

    <p>Slot ID: <%= @booking.slot_id %></p>

    <p>Slot time: <%= @booking.slot.slot_time %></p>

    <p>Movie ID : <%= @booking.slot.movie_id %></p>

    <p>Movie Name : <%= @booking.slot.movie.name %></p>

    <p>Booking Date: <%= @booking.booking_date %></p>

    <p>Ticket Price: <%= @booking.total_cost %></p>

  </body>
</html>