<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You Booking is confirmed!</p>
    <p>
    Booking details<br>
    --------------------------
    </p>
    <p>Booking ID: <%= @bookings.id%></p>

    <p>Slot ID: <%= @bookings.slot_id %></p>

    <p>Slot time: <%= @bookings.slot.slot_time %></p>

    <p>Movie ID : <%= @bookings.slot.movie_id %></p>

    <p>Booking Date: <%= @bookings.booking_date %></p>

    <p>Ticket Price: <%= @bookings.total_cost %></p>

  </body>
</html>